<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	<!-- Header -->
	<% if(locals?.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
				
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= jugador.nombre %> <%= jugador.apellido %></h2> 
			<p class="product-detail-description">
				<% if(locals.user != undefined){ %>  <!-- cuando tas logueado --> 
					<% if(locals.user.id == jugador.User.id){ %> 
						<a href="/productos/editar/<%= jugador.id %>">Editar</a>
						<a href="/productos/eliminar/<%= jugador.id %>"> Borrar Producto</a>
					<% } %>
				<% } %>


			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/<%= jugador.imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<strong>Nombre:</strong>	<%= jugador.nombre %> <%= jugador.apellido %> 
						
					</p>
					<ul>
						<li>
							<h3>Fecha de nacimiento: <%= jugador.fecha_nacimiento %> </h3>
						</li>
						<li>
							<h3>Nacionalidad: <%= jugador.nacionalidad %> </h3>
						</li>
						<li>
							<h3>Club actual: <%= jugador.club %> </h3>
						</li>
						<li>
							<h3>Posicion: <%= jugador.posicion %> </h3>
						</li>
						<li>
							<h3>Trayectoria: <%= jugador.trayectoria %> </h3>
						</li>
						<li>
							<h3>Apto fisico: <%= jugador.fisico %> </h3>
						</li>
						<li>
							<h3>Valor De Mercado: <%= jugador.valor_mercado %> </h3>
						</li>
						<li>
							<a href="usuarios/perfil/<%= jugador.User.id %>"><h3>Usuario: <%= jugador.User.usuario %> </h3></a>
						</li>
					</ul>
				</article>
				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i<jugador.Comment.length; i++){ %>
							<article>
								<img src="/images/<%= jugador.Comment[i].imagen%>" alt="">
								<div class="data">
									<p class="user">
										<strong><%= jugador.Comment[i].nombre%> <%= jugador.Comment[i].apellido%></strong>
										<strong> <%= jugador.Comment[i].createdAt%></strong>
									</p>
									<strong> <%= jugador.Comment[i].comments.comment?"si":"no" %></strong>
									<!--<= jugador.Comment[i].comments.comment%> --> 
							</article>
						<% } %>

					</section>
					<form class="form" action="" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button href="" type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>