<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<% if(locals?.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> <br>
				<form action="/users/editar" enctype="multipart/form-data" method="post">
					<input value="<%=locals.user.nombre %>" required name="nombre" type="text" placeholder="nombre">
					<input value="<%= locals.user.apellido %>" required name="apellido" type="text" placeholder="apellido">
					<input value="<%= locals.user.usuario %>" required name="usuario" type="text" placeholder="usuario">
					<input value="<%= locals.user.email %>" required name="email" type="email" placeholder="email">
					<input value="<%= locals.user.dni %>" required name="dni" type="number" placeholder="nro de documento">
					<input value="<%= locals.user.fecha_nacimiento %>" required name="fecha_nacimiento" type="date" placeholder="fecha de nacimiento">
					<input name="foto" type="file">
					<input type="submit">
				</form>
			</h2>

			<% if(error) {%>
				<%= message %>
			<% } %> 
			<% if(ok) {%>
				Se actualizo correctamente
			<% } %> 
		
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>