<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% include ./partials/head %> 

<body>
	<!-- Header -->
	<% include ./partials/headerLogueado %> 
	<!-- /Header -->

	
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://tntsports.com.ar/__export/1605552793068/sites/tntsports/img/2020/11/16/lionel_scaloni_conferencia_de_prensa_seleccion_argentina_dt.jpg_268743223.jpg" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= usuario.nombre %> <%= usuario.apellido %>
						<a href="">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> <br>
				<form action="/users/registrar" method="get">
					<input value="<%= usuario.nombre %>" name="nombre" type="text" placeholder="nombre">
					<input value="<%= usuario.apellido %>" name="apellido" type="text" placeholder="apellido">
					<input value="<%= usuario.Email %>" name="email" type="text" placeholder="email">
					<input value="<%= usuario.PuestoDeTrabajo%>" name="trabajo" type="text" placeholder="trabajo">
					<input value="<%= usuario.Organizacion %>" name="org" type="text" placeholder="organizacion">
					<input name="contraseña" type="password" placeholder="contraseña">
					<input name="actualizar" type="submit" value="actualizar">
				</form>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<% include ./partials/footer %> 
	<!-- /footer -->
</body>

</html>